@model IEnumerable<TanCruzDentalInventorySystem.ViewModels.ItemViewModel>
@{
	ViewBag.Title = "Item Home";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Item List</h3>
<hr />
<div class="row">
	<div class="col-md-6 mb-3">
		<form class="p-2">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Search Item">
				<div class="input-group-append">
					<a href="@Url.Action("ItemRecord", "Item")" class="btn btn-warning">Search</a>
				</div>
			</div>
		</form>
	</div>
</div>

<div class="table-responsive">
	<table class="itemHomeTable table table-striped table-sm">
		<thead>
			<tr>
				<th>#</th>
				<th>Is Active</th>
				@if (Request.IsAuthenticated && User.IsInRole("Editor"))
				{
					<th>Action</th>
				}
				<th>Item Number</th>
				<th>Item Name</th>
				<th>Sales Price - List 1</th>
				<th>Sales Price - List 2</th>
				<th>Purchase Price</th>
				<th>In Stock</th>
				<th>Committed</th>
				<th>Ordered</th>
				<th>Preferred Vendor</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.Select((x, i) => new { Data = x, Index = i + 1 }))
			{
				<tr>
					<td>@item.Index</td>
					<td>@(item.Data.IsActive ? "Yes" : "No")</td>
					@if (Request.IsAuthenticated && User.IsInRole("Editor"))
					{
						<td class="indexItemStatusEditTd">
							@Html.ActionLink("Edit", "EditItemRecord", new { itemId = item.Data.ItemId }, new { @class = "indexItemStatusEditBtn btn-outline-dark btn btn-sm" })
							@*<a href="#" class="indexItemStatusEditBtn btn-outline-dark btn btn-sm">Edit</a>*@
						</td>
					}
					<td>
						@Html.ActionLink(item.Data.ItemId, "ItemRecord", new { itemId = item.Data.ItemId })
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Data.ItemName)
					</td>
					<td>1,000</td>
					<td>1,500</td>
					<td>900</td>
					<td>50</td>
					<td>0</td>
					<td>100</td>
					<td></td>
				</tr>
			}
		</tbody>
	</table>
</div>
