@model IEnumerable<TanCruzDentalInventorySystem.ViewModels.SalesOrderViewModel>

@{
    ViewBag.Title = "Sales";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var modelTemp = new TanCruzDentalInventorySystem.ViewModels.SalesOrderViewModel();
}


<h3>Sales Order List</h3>
<hr />
<div class="row">
    <div class="col-md-6 mb-3">
        <form class="p-2">
            <div class="input-group">
                <button type="button" class="btn btn-warning margin" id="btn-add-new-sales-order">
                    Add New
                </button>
            </div>
        </form>
    </div>
</div>

<div class="container">
    <table id="salesOrderListTable" class="display hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Action</th>
                <th>@Html.DisplayNameFor(model => model.SalesOrderId)</th>
                <th>@Html.DisplayNameFor(model => model.RefDocNumber)</th>
                <th>@Html.DisplayNameFor(model => model.SalesOrderStatus)</th>
                <th>@Html.DisplayNameFor(model => model.SalesOrderTotal)</th>
                <th>@Html.DisplayNameFor(model => model.Remarks)</th>
                <th>@Html.DisplayNameFor(model => model.DocumentDate)</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count(); i++)
            {
                <tr>
                    <td>@(i + 1)</td>
                    <td>Action</td>
                    <td>@Html.HiddenFor(x => x.ToArray()[i].SalesOrderId)@Model.ToArray()[i].SalesOrderId</td>
                    <td>@Html.HiddenFor(x => x.ToArray()[i].RefDocNumber)@Model.ToArray()[i].RefDocNumber</td>
                    <td>@Html.HiddenFor(x => x.ToArray()[i].SalesOrderStatus)@Model.ToArray()[i].SalesOrderStatus</td>
                    <td>@Html.HiddenFor(x => x.ToArray()[i].SalesOrderTotal)@Model.ToArray()[i].SalesOrderTotal</td>
                    <td>@Html.HiddenFor(x => x.ToArray()[i].Remarks)@Model.ToArray()[i].Remarks</td>
                    <td>@Html.HiddenFor(x => x.ToArray()[i].DocumentDate)@Model.ToArray()[i].DocumentDate</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts{

    <script type="text/javascript">
        var GetSalesOrderListURL = "@Url.Content("~/SalesOrder/CreateSalesOrder/")";
        var CreateSalesOrderURL = "@Url.Content("~/SalesOrder/CreateSalesOrder/")";
        var EditSalesOrderRecordUrl = "@Url.Content("~/SalesOrder/EditSalesOrderRecord?salesOrderId=")";
        var ViewSalesOrderRecordUrl = "@Url.Content("~/SalesOrder/SalesOrderRecord?salesOrderId=")";
    </script>

    @Scripts.Render("~/Scripts/SalesOrder/SalesOrderIndex.js");

<script type="text/javascript">
   

</script>
}
