@model TanCruzDentalInventorySystem.ViewModels.BusinessPartnerViewModel

<div class="form-horizontal">
    <h4 class="form-title">
        Business Partner
        @if (Request.IsAuthenticated && User.IsInRole("Editor"))
        {
            @Html.ActionLink("[Edit]", "EditBusinessPartnerRecord", new { businessPartnerId = Model.BusinessPartnerId }, new { @style = "font-size:8pt" })
        }
    </h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.BusinessPartnerName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.BusinessPartnerName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.BusinessPartnerAlias, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.BusinessPartnerAlias, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.BusinessPartnerId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.BusinessPartnerId, new { htmlAttributes = new { @class = "form-control"} })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.BusinessPartnerFirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.BusinessPartnerFirstName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.BusinessPartnerMiddleName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.BusinessPartnerMiddleName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.BusinessPartnerLastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.BusinessPartnerLastName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.BusinessPartnerType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.BusinessPartnerType, new { htmlAttributes = new { @class = "form-control" }, required = "" })
            </div>
        </div>
    </div>

</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
