@model TanCruzDentalInventorySystem.ViewModels.BusinessPartnerViewModel

<div>
    <h4>BusinessPartnerViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BusinessPartnerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessPartnerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessPartnerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessPartnerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessPartnerType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessPartnerType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessPartnerAlias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessPartnerAlias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessPartnerFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessPartnerFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessPartnerMiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessPartnerMiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessPartnerLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessPartnerLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChangedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChangedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VersionTimeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VersionTimeStamp)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
