@model TanCruzDentalInventorySystem.ViewModels.SalesOrderPaymentDetailViewModel

@{
    Layout = null;
}

<div class="modal fade" id="SalesOrderPaymentDetailModal" tabindex="-1" role="dialog" aria-labelledby="SalesOrderPaymentDetailModal" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="SalesOrderPaymentDetailModalLabel">Create Payment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-4">
                        @Html.Label("Payment Type", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("PaymentType", new SelectList(Model.salesOrderPaymenFormDropDownValues.PaymentTypeOptions), new { @id = "PaymentType", @class = "form-control custom-select d-block w-100", required = "" })
                        </div>
                    </div>
                    <div class="form-group col-md-8">
                        @Html.LabelFor(model => model.CheckNumber, "Check Number", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CheckNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CheckNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.BankName, "Issuing Bank", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.BankName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.BankName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.SalesOrderPaymentDetailTotal, "Payment Amount", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.SalesOrderPaymentDetailTotal, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SalesOrderPaymentDetailTotal, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.PaymentDate, "Payment Date", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.PaymentDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PaymentDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="addPayment" type="button" class="btn btn-primary" data-dismiss="modal">Add Payment</button>
            </div>
        </div>
    </div>
</div>