@model IEnumerable<TanCruzDentalInventorySystem.ViewModels.ItemSearchFormViewModel>

<!-- Modal -->
<div class="modal fade" id="ItemSearchModal" tabindex="-1" role="dialog" aria-labelledby="ItemSearchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ItemSearchModalLabel">Select Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-12">
                        <table id="ItemSearchTable" class="display hover">
                            <thead>
                                    <tr>
                                            <th>#</th>
                                            <th>ID</th>
                                            <th>Item Name</th>
                                            <th>Group</th>
                                            <th>Selling Price</th>
                                            <th>Purchase Price</th>
                                            <th>Quantity-on-Hand</th>
                                    </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.Count(); i++)
                                {
                                    <tr>
                                            <td></td>
                                            <td>@Html.HiddenFor(x => x.ToArray()[i].Item.ItemId)@Model.ToArray()[i].Item.ItemId</td>
                                            <td>@Html.HiddenFor(x => x.ToArray()[i].Item.ItemName)@Model.ToArray()[i].Item.ItemName</td>
                                            <td>@Html.HiddenFor(x => x.ToArray()[i].Item.ItemGroup)@Model.ToArray()[i].Item.ItemGroup.ItemGroupName</td>
                                            <td>@Html.HiddenFor(x => x.ToArray()[i].PurchaseOrderItemPrice)@Model.ToArray()[i].SalesOrderItemPrice.PriceAmount</td>
                                            <td>@Html.HiddenFor(x => x.ToArray()[i].PurchaseOrderItemPrice)@Model.ToArray()[i].PurchaseOrderItemPrice.PriceAmount</td>
                                            <td>@Html.HiddenFor(x => x.ToArray()[i].Item.QuantityOnHand)@Model.ToArray()[i].Item.QuantityOnHand</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="ItemSearchDone">Select</button>
            </div>
        </div>
    </div>
</div>
