@model IEnumerable<TanCruzDentalInventorySystem.ViewModels.PurchaseOrderViewModel>

@{
    ViewBag.Title = "Sales";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var modelTemp = new TanCruzDentalInventorySystem.ViewModels.PurchaseOrderViewModel();
}


<h3>Purchase Order List</h3>
<hr />
<div class="row">
    <div class="col-md-6 mb-3">
        <form class="p-2">
            <div class="input-group">
                <button type="button" class="btn btn-warning margin" id="btn-add-new-sales-order">
                    Add New
                </button>
            </div>
        </form>
    </div>
</div>

<div class="container">
    <table id="purchaseOrderListTable" class="display hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Action</th>
                <th>@Html.DisplayNameFor(model => model.PurchaseOrderId)</th>
                <th>@Html.DisplayNameFor(model => model.RefDocNumber)</th>
                <th>@Html.DisplayNameFor(model => model.PurchaseOrderStatus)</th>
                <th>@Html.DisplayNameFor(model => model.PurchaseOrderTotal)</th>
                <th>@Html.DisplayNameFor(model => model.Remarks)</th>
                <th>@Html.DisplayNameFor(model => model.DocumentDate)</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count(); i++)
            {
                <tr>
                    <td>@i</td>
                    <td>Action</td>
                    <td>@Html.HiddenFor(x => x.ToArray()[i].PurchaseOrderId)@Model.ToArray()[i].PurchaseOrderId</td>
                    <td>@Html.HiddenFor(x => x.ToArray()[i].RefDocNumber)@Model.ToArray()[i].RefDocNumber</td>
                    <td>@Html.HiddenFor(x => x.ToArray()[i].PurchaseOrderStatus)@Model.ToArray()[i].PurchaseOrderStatus</td>
                    <td>@Html.HiddenFor(x => x.ToArray()[i].PurchaseOrderTotal)@Model.ToArray()[i].PurchaseOrderTotal</td>
                    <td>@Html.HiddenFor(x => x.ToArray()[i].Remarks)@Model.ToArray()[i].Remarks</td>
                    <td>@Html.HiddenFor(x => x.ToArray()[i].DocumentDate)@Model.ToArray()[i].DocumentDate</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts{

    <script type="text/javascript">
        var GetPurchaseOrderListURL = "@Url.Content("~/PurchaseOrder/CreatePurchaseOrder/")";
        var CreatePurchaseOrderURL = "@Url.Content("~/PurchaseOrder/CreatePurchaseOrder/")";
        var EditPurchaseOrderRecordUrl = "@Url.Content("~/PurchaseOrder/EditPurchaseOrderRecord?purchaseOrderId=")";
        var ViewPurchaseOrderRecordUrl = "@Url.Content("~/PurchaseOrder/PurchaseOrderRecord?purchaseOrderId=")";
    </script>

    @Scripts.Render("~/Scripts/PurchaseOrder/PurchaseOrderIndex.js");

    <script type="text/javascript">


    </script>
}
