@model TanCruzDentalInventorySystem.ViewModels.PurchaseOrderViewModel

@{
    ViewBag.FormMode = "View";
}

<div class="form-horizontal bg-light">
    <h4 class="form-title">
        Purchase Order
        @if (Request.IsAuthenticated && User.IsInRole("Editor"))
        {
            @Html.ActionLink("[Edit]", "EditPurchaseOrderRecord", new { purchaseOrderId = Model.PurchaseOrderId }, new { @style = "font-size:8pt" })
        }
    </h4>
    <hr />
    <div class="row">
        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.BusinessPartner.BusinessPartnerId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <p>@Html.DisplayFor(model => model.BusinessPartner.BusinessPartnerName, new { @class = "form-control" })</p>
            </div>
        </div>

        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.DeliveryDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <p>@Html.DisplayFor(model => model.DeliveryDate, new { @class = "form-control" })</p>
            </div>
        </div>

        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.PurchaseOrderId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <p>@Html.DisplayFor(model => model.PurchaseOrderId, new { @class = "form-control" })</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.PurchaseOrderStatus, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <p>@Html.DisplayFor(model => model.PurchaseOrderStatus, new { @class = "form-control" })</p>
            </div>
        </div>
        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.PostingDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <p>@Html.DisplayFor(model => model.PostingDate, new { @class = "form-control" })</p>
            </div>
        </div>
        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.PurchaseOrderControlNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <p>@Html.DisplayFor(model => model.PurchaseOrderControlNumber, new { @class = "form-control" })</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.Currency, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <p>@Html.DisplayFor(model => model.Currency.CurrencyName, new { @class = "form-control" })</p>
            </div>
        </div>
        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.DocumentDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <p>@Html.DisplayFor(model => model.DocumentDate, new { @class = "form-control" })</p>
            </div>
        </div>
        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.RefDocNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <p>@Html.DisplayFor(model => model.RefDocNumber, new { @class = "form-control" })</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            <table id="purchaseOrderDetailTable" class="display hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Item Name</th>
                        <th>Item ID</th>
                        <th>Item Price</th>
                        <th>Quantity-on-Hand</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.PurchaseOrderDetails.Count; i++)
                    {
                        <tr>
                            <td></td>
                            <td>@Html.HiddenFor(x => x.PurchaseOrderDetails.ToArray()[i].Item.ItemName, new { @Name = "PurchaseOrder.PurchaseOrderDetails[" + i.ToString() + "].Item.ItemName" })@Model.PurchaseOrderDetails.ToArray()[i].Item.ItemName</td>
                            <td>@Html.HiddenFor(x => x.PurchaseOrderDetails.ToArray()[i].Item.ItemId, new { @Name = "PurchaseOrder.PurchaseOrderDetails[" + i.ToString() + "].Item.ItemId" })@Model.PurchaseOrderDetails.ToArray()[i].Item.ItemId</td>
                            <td>@Html.HiddenFor(x => x.PurchaseOrderDetails.ToArray()[i].ItemPriceAmount, new { @Name = "PurchaseOrder.PurchaseOrderDetails[" + i.ToString() + "].ItemPriceAmount" })@Model.PurchaseOrderDetails.ToArray()[i].ItemPriceAmount</td>
                            <td>@Html.HiddenFor(x => x.PurchaseOrderDetails.ToArray()[i].QuantityOnHand, new { @Name = "PurchaseOrder.PurchaseOrderDetails[" + i.ToString() + "].QuantityOnHand" })@Model.PurchaseOrderDetails.ToArray()[i].QuantityOnHand</td>
                            <td>@Html.HiddenFor(x => x.PurchaseOrderDetails.ToArray()[i].Quantity, new { @Name = "PurchaseOrder.PurchaseOrderDetails[" + i.ToString() + "].Quantity" })@Model.PurchaseOrderDetails.ToArray()[i].Quantity</td>
                            <td>@Html.HiddenFor(x => x.PurchaseOrderDetails.ToArray()[i].PurchaseOrderDetailTotal, new { @Name = "PurchaseOrder.PurchaseOrderDetails[" + i.ToString() + "].PurchaseOrderDetailTotal" })@Model.PurchaseOrderDetails.ToArray()[i].PurchaseOrderDetailTotal</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PurchaseOrderDiscount, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p>@Html.DisplayFor(model => model.PurchaseOrderDiscount, new { @class = "form-control" })</p>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.PurchaseOrderDiscountAmount, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p>@Html.DisplayFor(model => model.PurchaseOrderDiscountAmount, new { @class = "form-control" })</p>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.PurchaseOrderTax, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p>@Html.DisplayFor(model => model.PurchaseOrderTax, new { @class = "form-control" })</p>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.UserId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p>@Html.DisplayFor(model => model.UserId, new { @class = "form-control" })</p>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p>@Html.DisplayFor(model => model.Remarks, new { @class = "form-control" })</p>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>

@section scripts{

    @Scripts.Render("~/Scripts/PurchaseOrder/PurchaseOrderView.js");
}